click
tqdm
scipy
pydub
spacy
pandas
Pillow
plotly
matplotlib
prettytable
opencv-python
scikit-learn
scikit-image
numba==0.48
librosa==0.7.1
tf-nightly-gpu
tb-nightly
mtcnn
sentencepiece
torch
torchvision
transformers
image-classifiers
classification_models
nvidia_smi
# pyAudioAnalysis
simplejson
hmmlearn
eyeD3
