tqdm
scipy
pydub
spacy
pandas
pickle5
Pillow
openpyxl
matplotlib
prettytable
opencv-python
scikit-learn
scikit-image
librosa
torch
opensmile
torchvision
transformers
fairseq
retina-face
deepface
moviepy
av
bbox_visualizer